.Header {
    background: #1976d2;
    padding: 50px 0;
}

.TextField {
    background: #ffffff;
    margin-bottom: 30px !important;
}

.Title {
    color: #ffffff;
}

.FilterTodos {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-field {
    margin: 0 20px 0 10px !important;
}

.btn-filter {
    margin: 0 20px !important;
}

.btn-done {
    border: 1px solid #1de9b6 !important;
}

.btn-done:hover {
    background: rgba(29,233,182,0.3) !important;
}

.btn-remove {
    border: 1px solid #dd2c00 !important;
    margin: 0 20px !important;
}

.btn-remove:hover {
    background: rgb(243,226,232) !important;
}

@media screen and (max-width: 900px) {
    .FilterTodos {
        flex-direction: column;
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .search-field {
        margin: 0 0 20px 0 !important;
    }
    .btn-filter {
        margin: 20px 0 !important;
    }
    .btn-remove {
        margin: 0 0 0 20px !important;
    }
}